<form (ngSubmit)="register(formRegister)" #formRegister="ngForm">
  <label class="title">Register Form</label>

  <label>Email</label>
  <input type="email" name="email" required [(ngModel)]="email" />

  <label>Password</label>
  <input type="password" name="password" required [(ngModel)]="password" />

  <label>Confirm Password</label>
  <input
    type="password"
    name="confirmPassword"
    required
    [(ngModel)]="confirmPassword"
  />

  <button type="submit">Register</button>
</form>
