<form (ngSubmit)="updateUserProfile(formUserProfile)" #formUserProfile="ngForm">
  <label class="title">User Profile Form</label>

  <label for="">First Name</label>
  <input type="text" name="firstName" required [(ngModel)]="user.firstName" />

  <label for="">Last Name</label>
  <input type="text" name="lastName" required [(ngModel)]="user.lastName" />

  <label for="">Gender</label>
  <select
    name="genderSelection"
    id=""
    style="margin-bottom: 20px;"
    [(ngModel)]="user.gender"
  >
    <option value="female" selected>Female</option>
    <option value="male">Male</option>
  </select>

  <label for="">Age</label>
  <input type="text" name="age" [(ngModel)]="user.age" />

  <label for="">Mobile</label>
  <input type="text" name="lastName" [(ngModel)]="user.mobile" />

  <label for="">Interest</label>
  <select name="interestSelection" id="" multiple style="margin-bottom: 20px;">
    <option value="foodball">Foodball</option>
    <option value="girl">Girl</option>
    <option value="water">Water</option>
    <option value="game">Game</option>
    <option value="firm">Firm</option>
    <option value="food">Food</option>
    <option value="everything">Everything</option>
  </select>

  <button>Save</button>
</form>
