:host {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  form {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    input {
      width: 200px;
      margin-bottom: 20px;
      height: 40px;
    }

    button {
      height: 40px;
      margin-bottom: 20px;
    }
  }
}
