<form (ngSubmit)="login(formLogin)" #formLogin="ngForm">
  <label class="title">Login Form</label>

  <label for="">Email</label>
  <input type="email" name="email" required [(ngModel)]="email" />

  <label for="">Password</label>
  <input type="password" name="password" required [(ngModel)]="password" />

  <button>Login</button>
  <button type="button">Register</button>
</form>
